/* CSS declarations go here */
html{
	width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.onlineChatNames:before{
  content: "• ";
  color : lime;
  text-align: left;
}
.offlineChatNames:before{
  content: "• ";
  color: red;
}
.onlineArea, .offlineArea{
  height: 45vh;
  text-align: center;
  padding-left: 5px;
  font-size: 16px;
  background-color: gray;
  overflow: auto;
  word-wrap: break-word;
}
.settings-content{
  text-align: center;
}

a, a:hover, a:active, a:visited, a:link{
  color:#fee404;
  text-decoration: none;
}

.landing-header, .sign-up, .chatShow{
	text-align: center;
}

body{
	color: white;
	padding-top: 50px !important;
	width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background-color: #313131;

}

.colap, .colap:hover, .colap:active, .colap:focus{
	background-color: #fee404 !important;
	color: black !important;
	border-color: black;
}

.sidebar{
	background-color: black;
	color: #fee404;
	margin: 0px;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 25px;
	height:100vh;
	width: 25vw;
	text-align: left;
}
.newGroup{
  text-align: center;
}
.chatbox{
  height: 100vh;
  width: 75vw;
  text-align: center;
  background-color: #292828;  
}
/*
.name{
  color: cyan;
}*/

.groupArea{
  height: 10vh;
  text-align: left;
  padding-left: 5px;
  font-size: 16px;
  background-color: black;
  color: green;
  overflow: auto;
  word-wrap: break-word;
}
.groupArea a{
  color: red;
  overflow: auto;
  word-wrap: break-word;

}
span{
  cursor: default;
}

.chatarea{
  height: 68vh !important;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  background-color: black;
  color: green;
  overflow: auto;
  word-wrap: break-word;
  padding-bottom: 25px;

}
.chatNames{
  text-align: left;
  color: cyan;
}
.form-control[disabled] {
  background-color: black;
  color: green;
  cursor: default;
}

.friends{
  height: 100vh;
  width: 25vw;
  text-align: center;
  background-color: gray;

}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

@media (max-width: 768px) {
	.sidebar{
		font-size: 16px;

	}
  .chatbox{
    height: 100vh;
    width: 50vw;
  }
  .friends{
    height: 50vh;
    width: 40vw !important;
  }
}
.navbar-default {
  background-color: #000000;
  border-color: #fee404;
}
.navbar-default .navbar-brand {
  color: #fee404;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fee404;
}
.navbar-default .navbar-text {
  color: #fee404;
}
.navbar-default .navbar-nav > li > a {
  color: #fee404;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fee404;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fee404;
  background-color: #fee404;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fee404;
  background-color: #fee404;
}
.navbar-default .navbar-toggle {
  border-color: #fee404;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fee404;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fee404;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fee404;
}
.navbar-default .navbar-link {
  color: #fee404;
}
.navbar-default .navbar-link:hover {
  color: #fee404;

}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fee404;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fee404;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fee404;
    background-color: #fee404;
  }
}